<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LoginServer.ServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />    
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LoginServer.ServerSettings>
            <setting name="PortForClientPeer" serializeAs="String">
                <value>4530</value>
            </setting>
            <setting name="ServerType" serializeAs="String">
                <value>LoginServer</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>LoginServer</value>
            </setting>
        </LoginServer.ServerSettings>      
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
