<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogicServer.ServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LogicServer.ServerSettings>
            <setting name="PortForProxyServerPeer" serializeAs="String">
                <value>4522</value>
            </setting>
            <setting name="ServerType" serializeAs="String">
                <value>LogicServer</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>LogicServer</value>
            </setting>
        </LogicServer.ServerSettings>
    </applicationSettings>
</configuration>